/////////////////////////////////////////
// PRIMARY COLORS
$color-primary-bg: hsl(0, 0%, 96%);
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-clickable: hsl(210, 100%, 56%);
$color-primary-clickable-hover: hsl(210, 89%, 45%);
$color-primary-box-shadow: hsla(0, 0%, 0%, 0.2);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}

body {
  background: $color-primary-bg;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}